# Financial Data Analysis

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
start = '2014-10-21'
end = '2024-10-21'

In [3]:
symbol = "BA"

In [4]:
yf.download(symbol, start, end)

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,BA,BA,BA,BA,BA,BA
Date,,,,,,
2014-10-21 00:00:00+00:00,110.537048,127.120003,127.239998,124.930000,125.209999,5204500
2014-10-22 00:00:00+00:00,105.606728,121.449997,128.000000,121.339996,127.989998,13844400
2014-10-23 00:00:00+00:00,106.111069,122.029999,122.879997,121.059998,121.269997,7799700
2014-10-24 00:00:00+00:00,106.293655,122.239998,122.839996,121.260002,122.199997,4013300
2014-10-27 00:00:00+00:00,106.189331,122.120003,122.230003,121.260002,122.129997,2940300
...,...,...,...,...,...,...
2024-10-14 00:00:00+00:00,148.990005,148.990005,150.089996,146.020004,148.000000,9737000
2024-10-15 00:00:00+00:00,152.350006,152.350006,153.949997,148.550003,150.500000,11241700
2024-10-16 00:00:00+00:00,154.899994,154.899994,154.990005,151.339996,151.910004,8356200
2024-10-17 00:00:00+00:00,155.309998,155.309998,157.139999,154.250000,155.000000,6291800
2024-10-18 00:00:00+00:00,155.000000,155.000000,156.369995,153.899994,155.839996,6025200

In [5]:
df = yf.download(symbol, start, end)

[*********************100%***********************]  1 of 1 completed

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2516 entries, 2014-10-21 00:00:00+00:00 to 2024-10-18 00:00:00+00:00
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   (Adj Close, BA)  2516 non-null   float64
 1   (Close, BA)      2516 non-null   float64
 2   (High, BA)       2516 non-null   float64
 3   (Low, BA)        2516 non-null   float64
 4   (Open, BA)       2516 non-null   float64
 5   (Volume, BA)     2516 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 137.6 KB

In [7]:
symbol = ["BA", "^DJI", "EURUSD=X", "GC=F", "BTC-USD"]

In [8]:
df = yf.download(symbol, start, end)

[*********************100%***********************]  5 of 5 completed

In [9]:
df

Price                       Adj Close                                       \
Ticker                             BA       BTC-USD  EURUSD=X         GC=F
Date
2014-10-21 00:00:00+00:00  110.537048    386.475006  1.279525  1251.000000
2014-10-22 00:00:00+00:00  105.606728    383.157990  1.271472  1244.800049
2014-10-23 00:00:00+00:00  106.111069    358.416992  1.264143  1228.500000
2014-10-24 00:00:00+00:00  106.293655    358.345001  1.265406  1231.199951
2014-10-25 00:00:00+00:00         NaN    347.270996       NaN          NaN
...                               ...           ...       ...          ...
2024-10-16 00:00:00+00:00  154.899994  67612.718750  1.088412  2674.000000
2024-10-17 00:00:00+00:00  155.309998  67399.835938  1.086248  2691.000000
2024-10-18 00:00:00+00:00  155.000000  68418.789062  1.082954  2713.699951
2024-10-19 00:00:00+00:00         NaN  68362.734375       NaN          NaN
2024-10-20 00:00:00+00:00         NaN  69001.703125       NaN          NaN

Price                                         Close                          \
Ticker                             ^DJI          BA       BTC-USD  EURUSD=X
Date
2014-10-21 00:00:00+00:00  16614.810547  127.120003    386.475006  1.279525
2014-10-22 00:00:00+00:00  16461.320312  121.449997    383.157990  1.271472
2014-10-23 00:00:00+00:00  16677.900391  122.029999    358.416992  1.264143
2014-10-24 00:00:00+00:00  16805.410156  122.239998    358.345001  1.265406
2014-10-25 00:00:00+00:00           NaN         NaN    347.270996       NaN
...                                 ...         ...           ...       ...
2024-10-16 00:00:00+00:00  43077.699219  154.899994  67612.718750  1.088412
2024-10-17 00:00:00+00:00  43239.050781  155.309998  67399.835938  1.086248
2024-10-18 00:00:00+00:00  43275.910156  155.000000  68418.789062  1.082954
2024-10-19 00:00:00+00:00           NaN         NaN  68362.734375       NaN
2024-10-20 00:00:00+00:00           NaN         NaN  69001.703125       NaN

Price                                                 ...        Open  \
Ticker                            GC=F          ^DJI  ...          BA
Date                                                  ...
2014-10-21 00:00:00+00:00  1251.000000  16614.810547  ...  125.209999
2014-10-22 00:00:00+00:00  1244.800049  16461.320312  ...  127.989998
2014-10-23 00:00:00+00:00  1228.500000  16677.900391  ...  121.269997
2014-10-24 00:00:00+00:00  1231.199951  16805.410156  ...  122.199997
2014-10-25 00:00:00+00:00          NaN           NaN  ...         NaN
...                                ...           ...  ...         ...
2024-10-16 00:00:00+00:00  2674.000000  43077.699219  ...  151.910004
2024-10-17 00:00:00+00:00  2691.000000  43239.050781  ...  155.000000
2024-10-18 00:00:00+00:00  2713.699951  43275.910156  ...  155.839996
2024-10-19 00:00:00+00:00          NaN           NaN  ...         NaN
2024-10-20 00:00:00+00:00          NaN           NaN  ...         NaN

Price                                                                         \
Ticker                          BTC-USD  EURUSD=X         GC=F          ^DJI
Date
2014-10-21 00:00:00+00:00    382.420990  1.279525  1251.000000  16406.029297
2014-10-22 00:00:00+00:00    386.118011  1.271423  1244.800049  16615.259766
2014-10-23 00:00:00+00:00    382.962006  1.264542  1228.000000  16468.070312
2014-10-24 00:00:00+00:00    358.591003  1.265070  1229.400024  16677.039062
2014-10-25 00:00:00+00:00    358.610992       NaN          NaN           NaN
...                                 ...       ...          ...           ...
2024-10-16 00:00:00+00:00  67042.460938  1.088412  2674.000000  42706.488281
2024-10-17 00:00:00+00:00  67617.078125  1.086248  2677.399902  43119.808594
2024-10-18 00:00:00+00:00  67419.109375  1.082954  2713.699951  43187.121094
2024-10-19 00:00:00+00:00  68418.976562       NaN          NaN           NaN
2024-10-20 00:00:00+00:00  68364.179688       NaN          NaN           NaN

Price                          Volume
Ticker                             BA      BTC-USD EURUSD=X  GC=F         ^DJI
Date
2014-10-21 00:00:00+00:00   5204500.0     14188900      0.0  48.0  105110000.0
2014-10-22 00:00:00+00:00  13844400.0     11641300      0.0   2.0   92050000.0
2014-10-23 00:00:00+00:00   7799700.0     26456900      0.0   2.0   99420000.0
2014-10-24 00:00:00+00:00   4013300.0     15585700      0.0  71.0   90400000.0
2014-10-25 00:00:00+00:00         NaN     18127500      NaN   NaN          NaN
...                               ...          ...      ...   ...          ...
2024-10-16 00:00:00+00:00   8356200.0  38195189534      0.0   6.0  297510000.0
2024-10-17 00:00:00+00:00   6291800.0  32790898511      0.0  30.0  267370000.0
2024-10-18 00:00:00+00:00   6025200.0  36857165014      0.0  30.0  295500000.0
2024-10-19 00:00:00+00:00         NaN  14443497908      NaN   NaN          NaN
2024-10-20 00:00:00+00:00         NaN  18975847518      NaN   NaN          NaN

[3653 rows x 30 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3653 entries, 2014-10-21 00:00:00+00:00 to 2024-10-20 00:00:00+00:00
Freq: D
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   (Adj Close, BA)        2516 non-null   float64
 1   (Adj Close, BTC-USD)   3653 non-null   float64
 2   (Adj Close, EURUSD=X)  2605 non-null   float64
 3   (Adj Close, GC=F)      2513 non-null   float64
 4   (Adj Close, ^DJI)      2516 non-null   float64
 5   (Close, BA)            2516 non-null   float64
 6   (Close, BTC-USD)       3653 non-null   float64
 7   (Close, EURUSD=X)      2605 non-null   float64
 8   (Close, GC=F)          2513 non-null   float64
 9   (Close, ^DJI)          2516 non-null   float64
 10  (High, BA)             2516 non-null   float64
 11  (High, BTC-USD)        3653 non-null   float64
 12  (High, EURUSD=X)       2605 non-null   float64
 13  (High, GC=F)           2513 non-null   float64
 14  (High, ^DJI)           2516 non-null   float64
 15  (Low, BA)              2516 non-null   float64
 16  (Low, BTC-USD)         3653 non-null   float64
 17  (Low, EURUSD=X)        2605 non-null   float64
 18  (Low, GC=F)            2513 non-null   float64
 19  (Low, ^DJI)            2516 non-null   float64
 20  (Open, BA)             2516 non-null   float64
 21  (Open, BTC-USD)        3653 non-null   float64
 22  (Open, EURUSD=X)       2605 non-null   float64
 23  (Open, GC=F)           2513 non-null   float64
 24  (Open, ^DJI)           2516 non-null   float64
 25  (Volume, BA)           2516 non-null   float64
 26  (Volume, BTC-USD)      3653 non-null   int64
 27  (Volume, EURUSD=X)     2605 non-null   float64
 28  (Volume, GC=F)         2513 non-null   float64
 29  (Volume, ^DJI)         2516 non-null   float64
dtypes: float64(29), int64(1)
memory usage: 884.7 KB

In [11]:
df.to_csv("multi_assets.csv")